[submodule "src/consistent_hash"]
	path = src/consistent_hash
	url = https://github.com/armos-db/consistent_hash.git
[submodule "src/leveldb"]
	path = src/leveldb
	url = https://github.com/armos-db/leveldb.git
[submodule "src/paxos"]
	path = src/paxos
	url = ./src/paxos
